/* Global Styles */
body {
  font-family: 'Playfair Display', serif;
  margin: 0;
  padding: 0;
  background-color: #fafafa;
  color: #333;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
  letter-spacing: 2px;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  line-height: 1.7;
}

.container {
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Prototype Hero Section with Gifs */
.prototype-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 1rem;
  background-color: #f9f9f9;
}

.prototype-content {
  display: flex;
  flex-direction: column; /* Default: Stack for small screens */
  align-items: center;
  width: 100%;
  max-width: 1200px;
  text-align: center;
}

.prototype-text {
  margin-bottom: 1rem;
}

.prototype-text h1 {
  font-size: 2.5rem;
  color: #333;
}

.prototype-text p {
  font-size: 1.2rem;
  color: #666;
  margin-top: 1rem;
}

.prototype-gif-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.prototype-gif {
  width: 375px; /* Fixed width resembling a phone screen */
  max-width: 100%; /* Ensures it doesn't exceed container width */
  height: auto; /* Maintain aspect ratio */
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.prototype-video {
  width: 375px; /* Fixed width resembling a phone screen */
  max-width: 100%; /* Ensure it doesn't exceed container width */
  height: auto; /* Maintain aspect ratio */
  border-radius: 50px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


/* Hero Section with Gradient Animation */
.hero-section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #e4eff5, #f8f3f7);
  animation: gradientBackground 15s ease infinite;
  color: white;
  text-align: center;
  position: relative;
}

@keyframes gradientBackground {
  0% {
    background: linear-gradient(135deg, #e4eff5, #f8f3f7);
  }
  50% {
    background: linear-gradient(135deg, #f5f0e1, #d3e0ea);
  }
  100% {
    background: linear-gradient(135deg, #e4eff5, #f8f3f7);
  }
}

.hero-text h1 {
  font-size: 4rem;
  letter-spacing: 4px;
  color: #333;
}

.hero-text p {
  font-size: 1.5rem;
  margin: 1.5rem 0;
  color: #333;
}

/* Navbar Styles */
nav.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  padding: 1.5rem 0;
  background-color: transparent;
  z-index: 1000;
  transition: background-color 0.5s ease;
}

nav.navbar.hidden {
  top: -100px; /* Adjust this value based on your navbar height */
}

nav.navbar.scrolled {
  background-color: rgba(255, 255, 255, 0.9); /* Change background when scrolled */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Add shadow when scrolled */
}

nav.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Align logo and nav-links on the same line */
}

.navbar .logo a {
  font-family: 'Playfair Display', serif;
  font-size: 1.8rem;
  color: #333;
  text-decoration: none;
}

.nav-links {
  display: flex;
  gap: 2rem;
  align-items: center; /* Align the nav-links vertically with the logo */
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #333;
  text-decoration: none;
  position: relative;
}

.nav-links a::before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #d1bc92;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.nav-links a:hover::before {
  visibility: visible;
  width: 100%;
}


.mobile-menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
  width: 30px;
}

.mobile-menu-icon span {
  background-color: #333;
  height: 3px;
  margin: 5px 0;
  width: 100%;
  transition: transform 0.3s ease-in-out;
}

.mobile-menu-icon.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.mobile-menu-icon.open span:nth-child(2) {
  opacity: 0;
}

.mobile-menu-icon.open span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* Media Queries for Project Hero*/
@media (min-width: 768px) {
  .prototype-content {
    flex-direction: row; /* Place text and GIF side by side */
    text-align: left;
    justify-content: space-between;
    align-items: center;
  }

  .prototype-text {
    width: 60%; /* Allocate 40% for text */
    margin-left: 5rem;
    margin-right: 1rem;
  }

  .prototype-gif-container {
    width: 40%; /* Allocate 60% for GIF */
    justify-content: flex-start;
  }

  .prototype-gif {
    width: 375px; /* Fixed width remains consistent for wide screens */
  }
}

@media (max-width: 768px) {
  .prototype-content {
    flex-direction: column; /* Stack text and GIF */
    align-items: center;
  }

  .prototype-gif {
    width: 100%; /* Full width for small screens */
    max-width: 100%; /* Ensure no overflow */
    margin-top: 5rem;
  }

  .prototype-video {
    width: 100%; /* Fixed width resembling a phone screen */
    max-width: 100%; /* Ensure it doesn't exceed container width */
    margin-top: 5rem; /* Maintain aspect ratio */
    border-radius: 60px;
  }

  .prototype-text {
    text-align: center;
    width: 100%; /* Expand text width for better alignment */
  }
}


/* Hero Section for Landing Page */
.hero-section {
  background: url('hero-bg.jpg') center/cover no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.hero-section .container {
  text-align: center;
}

.hero-text h1 {
  font-size: 4rem;
  margin: 0;
  letter-spacing: 4px;
}

.hero-text p {
  font-size: 1.5rem;
  margin: 1.5rem 0;
}

.cta-button {
  background-color: #ded0b2;
  color: white;
  padding: 0.75rem 2rem;
  border-radius: 50px;
  font-size: 1.1rem;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transition: background 0.3s;
}

.cta-button:hover {
  background-color: #d1bc92;
}

.about-section, .projects-section, .skills-section, .contact-section {
  padding: 8rem 0;
}

.about-section {
  background-color: #f5f5f5;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Default: 3 columns */
  gap: 2rem; /* Space between cards */
}

.project-card {
  background-color: white;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
  text-decoration: none;
  color: #333;
}

.project-card:hover {
  transform: translateY(-10px);
  text-decoration: none;
}

/* Responsive Styles for Project-card */
@media (max-width: 1024px) {
  .projects-container {
    grid-template-columns: repeat(3, 1fr); /* Still 3 columns for medium screens */
  }
}

@media (max-width: 768px) {
  .projects-container {
    grid-template-columns: repeat(1, 1fr); /* Single column on small screens */
  }
}

.skills-list {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  font-size: 1.2rem;
}

.skills-list span {
  padding: 0.5rem 1.5rem;
  background-color: #ded0b2;
  color: white;
  border-radius: 20px;
  font-family: 'Montserrat', sans-serif;
}

.contact-section p {
  margin: 2rem 0;
  font-size: 1.3rem;
  text-align: center;
}

/* Reveal Animation */
.reveal {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.6s ease-out;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

/* Mobile Styles */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: rgba(255, 255, 255, 0.95);
    width: 100%;
    text-align: center;
    padding: 2rem 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .nav-links.active {
    display: flex;
  }

  .mobile-menu-icon {
    display: flex;
  }

  .projects-container {
    flex-direction: column;
  }
}

/* Hero Section for Project Page */
.project-hero {
  height: 80vh;
  background: linear-gradient(135deg, #e4eff5, #dceaf1);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.project-hero h1 {
  font-size: 3.5rem;
  color: #333;
}

.project-hero p {
  font-size: 1.5rem;
  color: #555;
  margin: 1rem 0;
}

.project-details {
  padding: 4rem 2rem;
  background-color: #f9f9f9;
}

.project-details h2, .project-details h3 {
  font-family: 'Playfair Display', serif;
  color: #333;
  margin-bottom: 1.5rem;
}

.project-details p, .project-details ul {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
  color: #555;
  line-height: 1.8;
}

.project-info, .project-goals, .project-challenges, .project-outcomes {
  margin-bottom: 3rem;
}

.project-info ul li {
  font-size: 1.1rem;
  margin: 0.5rem 0;
}

.project-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin: 2rem 0;
}

.iframe-container {
  display: flex;
  justify-content: center; /* Centers the iframe horizontally */
}

iframe.em-website {
  border: none;           /* Optional: Remove iframe border */
  max-width: 100%;         /* Optional: Limits the iframe width */
  height: 700px;          /* Fixed height for iframe */
}

/* Hero Section for Wayfinding */
.img-hero {
  position: relative;
  height: 90vh; /* Full viewport height */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

/* Image Overlay */
.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.hero-image {
  width: 100%;
  height: 100%;
  opacity: 30%;
  object-fit: cover; /* Ensures the image fills the container while maintaining aspect ratio */
}

/* Text Content */
.hero-text {
  position: relative;
  z-index: 2; /* Ensures text is above the overlay image */
  color: #333;
  padding: 1rem;
}

.hero-text h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #333;
  text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.8); /* Adds text contrast */
}

.hero-text p {
  font-size: 1.5rem;
  color: #555;
  text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.8); /* Adds text contrast */
}

/* Responsive Adjustments for Small Screens */
@media (max-width: 768px) {
  .wayfinding-hero {
    height: auto; /* Allow the section height to adapt to content */
    padding: 2rem 1rem; /* Add padding for spacing */
  }

  .hero-text {
    padding: 1rem;
  }

  .hero-text h1 {
    font-size: 2rem; /* Reduce title size for small screens */
  }

  .hero-text p {
    font-size: 1rem; /* Adjust paragraph size */
  }

  .hero-image {
    height: 100%;
  }
}

/* Gallery Section */
.gallery-section {

  text-align: left;
  background-color: #f9f9f9;
}

.gallery-section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #333;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Default: 3 columns */
  gap: 1rem; /* Space between images */
  max-width: 1200px;
  margin: 0 auto; /* Center the gallery */
}

.gallery-item {
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image scales properly */
  transition: transform 0.3s ease-in-out;
}

.gallery-item img:hover {
  transform: scale(1.5); /* Slight zoom effect on hover */
}

/* Responsive Adjustments */
@media (max-width: 1024px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr); /* 2 columns on medium screens */
  }
}

@media (max-width: 768px) {
  .gallery {
    grid-template-columns: 1fr; /* 1 column on small screens */
  }
}
